<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/base_style.css')}}">
    <title>Mi Sitio Web - {% block title%} {% endblock %}</title>
</head>
<body>

        <nav>

            <ul>
               <li><a href="{{url_for('index')}}">Inicio</a></li>
               <li><a href="{{url_for('data')}}">Mis datos</a></li>
                <li><a href="{{url_for('code', code = 'print(e)')}}">Codigo</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>

        </nav>

        {% block content %}
        <!--Bloque de contenido-->
        {% endblock %}

        <p>Esto es de la base por si</p>
</body>
</html>